<p style="color: green"><%= notice %></p>

<%= render @blog %>

<%= pluralize(@blog.likes.count, "Like") %>
<% like = current_user.likes.find_by(blog: @blog) %>
<% if like.nil? %>
  <!-- Like Implementation using button_to RAILS -->
  <%= button_to "Like-2", likes_path, method: :post, params: { like: { blog_id: @blog.id }} %>
  <!-- Like Implementation using HTML FORM -->
  <form action="/likes" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <input type="hidden" name="like[blog_id]" value="<%= @blog.id %>">
    <input type="submit" value="Like">
  </form>
<% else %>
  <!-- Unlike Implementation using button_to RAILS -->
  <%= button_to "Unike-2", like_path(like), method: :delete %>
  <!-- Unlike Implementation using HTML FORM -->
  <form action="<%= like_path(like) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Unlike">
  </form>
<% end %>

<div>
  <%= link_to "Edit this blog", edit_blog_path(@blog) %> |
  <%= link_to "Back to blogs", blogs_path %>

  <%= button_to "Destroy this blog", @blog, method: :delete %>
</div>
